#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.read-the-docs {
  color: #888;
}

.chatInput {
  display: flex;
  width: auto;
  padding-bottom: 40px;
}

.chatInput__input {
  width: 400px;
}

.chatMessage {
  display: flex;
  width: 100%;           /* obligatoire pour flex-end/flex-start */
  align-items: center;
  gap: 10px;
  padding: 10px 0;
}

.chatMessage--robot {
  justify-content: flex-start;  /* robot à gauche */
}

.chatMessage--user {
  justify-content: flex-end;    /* user à droite */
}

.chatMessage__robotImg,
.chatMessage__userImg {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}




